<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

    <title>Register - TinyApp Example</title>
</head>

<body>
    <%- include('partials/_header') %>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="form-group mb-2">
                <label for="email">Email address</label><br>
                <input type="email" name="email" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group mb-2">
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" placeholder="Password" /><br>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
</body>